{% extends 'base.html.twig' %}

{% block title %}New Surfer{% endblock %}

{% block body %}
    <h1>Create new Surfer</h1>

    {{ include('surfer/_form.html.twig') }}

    <a href="{{ path('surfer_index') }}">back to list</a>
{% endblock %}
