{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="background-white p20 mb50">
        <div class="container">
            <h1  class="page-title">Register</h1>

            <h3>Register as </h3>

            <a href="{{ path('app_signin' ,{'option':'Provider'})}}" class="btn btn-primary btn-lg">Provider</a>
            <a href="{{ path('app_signin' ,{'option':'Surfer'})}}" class="btn btn-primary btn-lg">Surfer</a>
        </div><!--9 /.container -->
    </div><!-- /.hero-image-content -->


{% endblock %}