{% extends 'base.html.twig' %}

{% block title %}New Internship{% endblock %}

{% block body %}
<div class="row">
    <div class="col-sm-8">
        <div class="contact-form-wrapper background-white p20 mb50">
            <h1 class="page-title">Create new Internship</h1>

            {{ include('internship/_form.html.twig') }}

            <a href="{{ path('internship_index') }}">back to list</a>

        </div><!-- /.contact-form-wrapper -->
    </div>
</div>
{% endblock %}
