{% extends 'base.html.twig' %}

{% block title %}Hello SearchController!{% endblock %}

{% block body %}
<div class="row">
    <div class="col-sm-8">
        <div class="contact-form-wrapper background-white p20 mb50">
            <h1 class="page-title">Recherche : {{ search }}</h1>
            <ul>
                {% for result in results  %}
                    <li><a href="{{ path('provider_show', {'id': result.id}) }}" >{{ result.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
