
<div class="widget">
    <h2 class="widgettitle">Categories</h2>
    <div></div>
    <ul class="menu">
        {{ render(controller('App\\Controller\\ServiceController::listService',{} )) }}
    </ul><!-- /.menu -->
</div><!-- /.wifget -->




